[submodule "linux"]
	path = linux
	url = https://gitlab.com/ubports/porting/reference-device-ports/halium13/volla-phone-quintus/kernel-volla-mt6877
	branch = halium-13.0
[submodule "kernel-adaptation-simplified"]
	url = https://github.com/HelloVolla/kernel-adaptation-simplified.git
	path = kernel-adaptation-simplified
[submodule "tools/droidboot_map_to_dm"]
	path = tools/droidboot_map_to_dm
	url = https://github.com/Android-Boot-Manager/droidboot_map_to_dm.git
